.App {
  width: 400px;
  height: 600px;
  border: 2px black;
}

.Board {
  width: 100%;
  height: 100%;
  
}

.Ball {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: black;

  
}